@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.font-dacing {
  font-family: "Dancing Script", cursive;
}

.bg-linear {
  background: linear-gradient(66deg, #e6fbfe 0%, #edddfb 100%);
}
